* {
    box-sizing: border-box;
    max-width: 100vw;
}
body { 
    font-family: Arial;
    background: #f4f9f6;
    color: #1b4332;
    margin: 0;
    width: 100vw;
}
header { 
    background: #2d6a4f; 
    color: white; 
    padding: 20px; 
    text-align: center;
}
.controls { 
    text-align: center; 
    margin: 20px; 
}
select { 
    padding: 10px; 
    margin:5px; 
    border-radius:8px; 
}
.species-container { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: min(20px, 1vw); 
    width: 90vw;
    margin: 0 auto;
}
.card { 
    background: white; 
    border-radius: 15px; 
    box-shadow: 0 6px 12px rgba(0,0,0,0.1); 
    padding: min(20px, 1vw); 
    text-align: center; 
}
.card img {
    height: 180px; 
    object-fit: cover; 
    border-radius:10px; 
}
.status { 
    font-weight:bold; 
    margin:10px 0; 
}
.critically { 
    color:#9b0000; 
}
.endangered { 
    color:#d00000; 
}
.vulnerable { 
    color:#e85d04; 
}
.donate-btn { 
    background: #40916c; color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer; 
}
.donate-btn:hover {
    background:#2d6a4f; 
}